<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta http-equiv="refresh" content="{{collection.delay_in_sec}}; url={% url 'info_screen:page' collection.pk next_page.pk %}" />
	<title>{{page.title}}</title>
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet">
</head>
<body bgcolor="#000000;">
    {% if page.type == 0 %}
        {% if page.url %}
            <iframe src="{{page.url}}" style="border: 0; width: 100%; height: 4000px;"></iframe>
        {% else %}
            no url
        {% endif %}
    {% elif page.type == 1%}
        {% if page.image_file %}
            <img src="{{page.image_file.url}}" alt="">
        {% else %}
            no image
        {% endif %}
    {% else %}
        ERROR: page type {{page.type}}} is not supported
    {% endif %}
</body>
</html>