{% load i18n %}

<!DOCTYPE html>
{% load staticfiles %}
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
    <title>{{ title.title }}</title>
    <meta charset="UTF-8">
</head>

<body>

<div class="content">{% trans "Loading.." %}</div>

<script type="text/javascript" src="{{ STATIC_URL }}jquery-2.1.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var is_slideshow_page = {% if page.is_slideshow_page %}true{% else %}false{%endif%}
        var pageid = "{{ page.pk|default:"undefined" }}";
        var load_url = "{{ page.show_url|default:"" }}";
        // First page timeout
        var timeout = {{ page.delay_in_sec }}000;

        // Page loop indexing
        var page_loop_index = 1;

        // Infinite loop with delay
        var action = function () {
          if (!is_slideshow_page){
            // Normal page
            $.get("{% url 'info_screen:api' %}?page_id=" + pageid + "&screen_uuid={{ screen.uuid }}", function (data) {
                if (data == '{}') {
                    $(".content").html("{% trans "No visible page" %}");
                } else {
                    data = JSON.parse(data);
                    pageid = data.id;
                    load_url = data.url;
                    timeout = data.delay_in_sec * 1000;
                    is_slideshow_page = data.is_slideshow_page;
                }
                if(is_slideshow_page){
                  page_loop_index = 1;
                  setTimeout(action, 0);
                }else{
                  $(".content").load(load_url);
                  setTimeout(action, timeout);
                }
            });
          }else{
            // Slideshow page
            $.get( load_url + '?page=' + (page_loop_index), function( data ) {
              if(data){
                $( ".content" ).html( data ); // Load data in element
                page_loop_index++;
                setTimeout(action, timeout);
              }else{
                // Empty data means that no more pages
                is_slideshow_page = false;  // No more slideshow
                page_loop_index = 1;  // Reset loop index
                setTimeout(action, 0);
              }
            });
          }
        };
        action();
    });
</script>

</body>
</html>
