html,body{
    margin:0;
    height:100%;
    overflow:hidden;
    background-color: black;
}
img{
    min-width:100%;
    height:auto;
    width:auto;
    margin:auto;
    max-width: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
}